:root {
  color-scheme: dark;
  color: #e0e0e0;
  background-color: #1e1e1e;
  font-family: monospace;
}

h1 {
  font-family: monospace;
}

footer {
  padding: 10px;
  color: #858585;
  text-align: center;
}

#content {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /* FIXME: magic numbers */
  min-height: calc(100vh - 50px - 95px);
  height: fit-content;
  margin: 50px 10vw 0px 10vw;
}

.subtitle {
  color: #858585;
  margin-top: 0px;
}

.icon {
  padding-left: 3px;
  padding-right: 5px;
}

.navbar {
  color: #ffffff;
  background-color: #ff6404;
}

.image-cards {
  margin: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.image-card {
  margin: 20px;
  max-width: 250px;
  border-radius: 10px;
  background-color: #454545;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-card .image {
  margin: 10px 10px 3px 10px;
  width: 220px;
  height: 220px;
}

.image-card img {
  max-width: 220px;
  max-height: 220px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.image-card .status {
  display: flex;
  flex-direction: column;
}

.image-card .status-code {
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
}

.image-card .status-detail {
  margin-bottom: 5px;
}
