:root {
  color-scheme: dark;
  color: #e0e0e0;
  background-color: #1e1e1e;
  font-family: Verdana, sans-serif;
}

footer {
  padding: 10px;
  color: #858585;
  text-align: center;
}

#content {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /* FIXME: magic numbers */
  min-height: calc(100vh - 50px - 95px);
  height: fit-content;
  margin: 50px 5vw 0px 5vw;
}

.subtitle {
  color: #858585;
  margin-top: 0px;
}

.icon {
  padding-left: 3px;
  padding-right: 5px;
}

.navbar {
  color: #ffffff;
  background-color: #c80e3d;
}

.image-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.image-card {
  margin: 20px;
  max-width: 400px;
  min-width: 400px;
  max-height: 350px;
  min-height: 350px;
  border-radius: 10px;
}

.image-card img {
  max-width: inherit;
  min-width: inherit;
  max-height: inherit;
  min-height: inherit;
  border-radius: 10px;
}
