#image-content {
  width: 800px;
  height: 700px;
  color: white;
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  padding-bottom: 0;
}

#inner-image {
  width: 100%;
  height: 100%;
  background-image: url("/api/raw/418");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.status {
  margin: 10px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Mono";
}

.status-code {
  font-size: 80px;
  font-weight: bold;
  line-height: 1;
}

.status-detail {
  font-size: 30px;
}
