{% extends "base.html" %}

{% block content %}
<h1>HTTP Waifus</h1>
<p class="subtitle">
  Waifus for every HyperText Transfer Protocol response status code.
</p>
<div class="search"></div>
<div>
  <h3>Usage</h3>
  <code>https://httpwaifus.deta.dev/api/{code}</code>
  <p>
    Replace <code>{code}</code> with a status code.
  </p>
</div>
<div class="image-cards">
  {% for status_code in status_codes %}
  <div class="image-card w3-card">
    <div class="image">
      <img src="/api/{{ status_code }}" />
    </div>
    <div class="status">
      <span class="status-code">{{ status_code }}</span><br>
      <span class="status-detail">{{ status_info[status_code] }}</span>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}