{% extends "base.html" %}

{% block content %}
<h1>HTTP Waifus</h1>
<p class="subtitle">
  Waifus for every HyperText Transfer Protocol response status code.
</p>
<div class="search"></div>
<div>
  <h2>Usage</h2>
  <code>https://httpwaifus.deta.dev/api/{code}</code>
  <p>
    Replace <code>{code}</code> with a status code.
  </p>
</div>
<div class="image-cards">
  {% for status_code in status_codes %}
  <div class="image-card w3-card">
    <!-- FIXME: proper image link instead of window.open() -->
    <img src="/api/{{ status_code }}" alt="{{ status_code }}" onclick="window.open(this.src)" />
  </div>
  {% endfor %}
</div>
{% endblock %}