{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/upload.css" />
{% endblock %}

{% block content %}
<h1>Upload Image</h1>
<input id="file" type="file">
<button id="upload-button" onclick="upload();">Upload</button>
<button onclick="render();">Render</button>
<h2>Preview</h2>
<div id="render-content">
  <div id="image-content">
    <div id="inner-image"></div>
    <div class="status">
      <span id="status-code" class="status-code" contenteditable="true">418</span>
      <span class="status-detail" contenteditable="true">I'm a Teapot</span>
    </div>
  </div>
</div>
<hr>
<div id="output">
  <img id="rendered-image" />
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js"></script>
<script src="/static/upload.js"></script>
{% endblock %}